@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "DM Sans", serif;
}

.navbar-center>ul li a {
    @apply focus:bg-transparent hover:bg-transparent hover:text-yellow-600;
}

.menu li>*:not(ul, .menu-title, details, .btn):active,
.menu li>*:not(ul, .menu-title, details, .btn).active,
.menu li>details>summary:active {
    background-color: transparent;
    color: black;
}

.navbar-end a{
    @apply px-10 mx-2 hover:bg-white hover:text-black
}