@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Exo 2", serif;
}

.section-title {
    @apply mb-6
}

.navbar-center>ul li a {
    @apply focus:bg-transparent hover:bg-transparent hover:text-yellow-600;
}

.menu li>*:not(ul, .menu-title, details, .btn):active,
.menu li>*:not(ul, .menu-title, details, .btn).active,
.menu li>details>summary:active {
    background-color: transparent;
    color: black;
}

.navbar-end a {
    @apply px-10 hover:bg-white hover:text-black;
}

#hero {
    @apply bg-contain bg-no-repeat;
}

#categories {
    @apply my-20;
}

.single-category {
    @apply bg-[#F9DF8A] text-center px-8 rounded-md shadow py-6;
}

.category-image {
    @apply bg-white rounded-full p-5 self-center justify-self-center;
}

#products {
    @apply mb-20 bg-[#FFF9F4] py-14
}

.product-container {
    grid-template-columns: 35% repeat(3, 1fr);
}

.product-banner {
    @apply bg-product-banner bg-right-bottom bg-contain bg-no-repeat py-10 px-6 rounded-md;
    background-size: 150px;
}

.product-category {
    @apply px-2 py-3 shadow-sm border bg-white rounded-md
}

.product-image {
    @apply bg-[#FFF9F4] p-4 rounded-sm mr-2;
}

#low-price {
    @apply mb-20;
}

.price-container {
    @apply grid gap-4;
    grid-template-columns: 1.4fr 1fr;
}

.price-box {
    @apply shadow rounded-md items-center pt-20 px-14 relative;
}

.price-box:first-of-type {
    @apply h-96 bg-contain bg-right-bottom bg-no-repeat;
    background: linear-gradient(-40deg, #185b9d6b, #43cea280);
}

.price-box:nth-last-of-type(1) {
    @apply h-96 bg-contain bg-right-bottom bg-no-repeat;
    background: linear-gradient(-30deg, #ffd19465, #70e1f567);
}

.sm-bg-1 {
    @apply h-96 bg-contain bg-right-bottom bg-no-repeat absolute right-0 bottom-0;
    background-image: url('../images/cute-dog-mid.png');
}

.sm-bg-2 {
    @apply h-96 bg-contain bg-right-bottom bg-no-repeat absolute right-0 bottom-0;
    background-image: url('../images/cute-pet-small.png');
}

.subscription-box {
    @apply grid px-24 rounded-2xl shadow-lg py-8 top-[-200px] absolute left-[50%];
    grid-template-columns: 1fr 1.5fr;
    transform: translateX(-50%);
    width: 83%;
}

footer {
    @apply pt-[200px];
}

.footer-content {
    @apply grid grid-cols-3 items-end;
}

.footer-social ul li {
    @apply inline-block
}

@media screen and (max-width: 560px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-banner {
        @apply col-span-2 h-96;
    }

    .price-container {
        grid-template-columns: 1fr;
    }

    .price-box {
        background-size: 50px auto, cover;
    }

    .sm-bg-1, .sm-bg-2 {
        background-size: 200px;
    }

    .subscription-box {
        grid-template-columns: 1fr;
        width: 90%;
        @apply px-4 text-left
    }

    input[type=text] {
        width: 100%;
    }

    footer {
        @apply pt-[300px]
    }

    .footer-content {
        @apply grid-cols-1 text-left;
    }

    .footer-links, .footer-social {
        @apply mx-0 my-5;
    }
}

.bowl {
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}