@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F4F7FF;
    font-family: "Poppins", sans-serif;

}

.nav-buttons ul li{
    @apply inline-block float-end mx-2;
}

.dashboard {
    @apply grid;
    grid-template-columns: 75% 25%;
    column-gap: 10px;
}

.stats {
    @apply grid gap-3;
    grid-template-columns: 1fr 2fr 1.2fr;
}

.blog-button {
    @apply grid items-center h-24 rounded-lg;
    background-image: linear-gradient(to top right, #3752FD, #9BA8F8 );
}

.tasks {
    @apply grid gap-3;
    grid-template-columns: repeat(3, 1fr);
}

.single-task {
    @apply rounded-lg;
}

.task-cat {
    @apply inline-block;
}

.task-desc {
    @apply rounded-md;
}

.task-desc p {
    @apply text-sm;
}

.task-title {
    @apply my-3;
}

.date-n-button {
    @apply mt-3;
}

.task-button {
    @apply text-sm;
}

.deadline p:nth-of-type(1) {
    @apply text-gray-500;
}
