@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body {
    font-family: "Poppins", sans-serif;
}

#hero {
    background-image: url('assets/images/hero.png');
    @apply h-[70vh] bg-cover bg-center flex items-center;
}

table {
    @apply w-full;
}

th {
    @apply py-6 px-4 text-left;
}

td {
    @apply p-4;
}

tr {
    @apply border-b;
}

tbody tr:last-child {
    border-bottom: none;
}


.left-bar-table td {
    @apply text-left px-0 py-0 text-right;
}

.left-bar-table th {
    @apply text-left px-0 py-0;
}